:root{
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --saffron: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
    --white: #ffffff;
}

.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--burnt-sienna);
    text-align: center;
    color: var(--white)
}

hr{
    /* color: var(--white); */
    background-color: var(--white);
}
